@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,500&display=swap');

* {
    box-sizing: border-box;
}
html, #root, body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
}

.form-control:focus {
    border-color: "#26ff67"!important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
} 

.leaflet-container {
    border-radius: 10px;
    width: 100%;
    height: 400px;
}

.leaflet-div-icon {
    background-color: transparent;
    border: none;
}

.container-main {
    width: 100%;
    background-color: #E3FCBF;
    overflow-x: hidden;
}

.dropdown-item:hover {
    background-color: #00FFAB;
}